.light-window-top {
  display: flex;
  flex-direction: column;
}

.light-window-title {
  margin: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-weight: 600;
  color: var(--black-font-color);
}

.light-window-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-window-items-intensity {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-window-items-transformation {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.light-window-items-transformation.label {
  display: block;
  padding: 0;
}

.light-window-items-header {
  display: flex;
  justify-content: space-between;
}
