* {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

.navbar {
  z-index: 2;
  height: 3rem;
  border-bottom: 1px solid var(--navbar-border);
  background-color: var(--window-background);
}

.navbar-expand .navbar-nav .dropdown-menu {
  top: 3.3rem;
  border: 0;
  background-color: var(--window-background);
}

div .dropdown-item {
  color: var(--gray-font-color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div .dropdown-item:hover {
  background-color: var(--hover-background);
}

div .dropdown-item.active,
.dropdown-item:active {
  background-color: transparent;
  color: var(--gray-font-color);
}

div .dropdown-item.active:hover,
.dropdown-item:active:hover {
  background-color: var(--hover-background);
  color: var(--gray-font-color);
}

div .dropdown-divider {
  border-top: 1px solid var(--navbar-divider);
  box-shadow: 0.4rem 0.4rem 0.5rem var(--box-shadow);
}

div hr {
  background-color: transparent;
}

.brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin-top: 0.05rem;
  margin-left: 1.5rem;
}

.me-auto div {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

#add-dropdown::after,
#file-dropdown::after,
#edit-dropdown::after {
  display: none;
}
