.object-list-pane {
  overflow-y: auto;
}

.object-list-top {
  display: flex;
  flex-direction: column;
}

.object-list-title {
  margin: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.btn-light.object-list-items {
  position: relative;
  padding: 0.7rem;
  width: 100%;
  border: 0;
  z-index: 1;
  text-align: left;
  background-color: #fcfcfc;
  color: rgba(0, 0, 0, 0.9);
}
.btn-light.object-list-items:hover:not(.active) {
  z-index: 1;
  background-color: #f1f1f3;
  color: rgba(0, 0, 0, 0.9);
  transition: all 0.3s ease-in-out;
}
/*

.object-list-items:hover {
  background-color: #f1f1f3;
} */
.btn-check.object-list-items:active + .btn-light.object-list-items,
.btn-check.object-list-items:checked + .btn-light.object-list-items,
.btn-light.object-list-items.active,
.btn-light.object-list-items:active,
.show > .btn-light.object-list-items.dropdown-toggle {
  z-index: 2;
  background-color: hotpink;
  color: #fcfcfc;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
}
.camera {
  width: 3.5rem;
  border: 1px solid #d1d1d6;
}

.camera:focus {
  outline-color: #d1d1d6;
}
