.object-list-pane {
  overflow-y: auto;
}

.object-list-top {
  display: flex;
  flex-direction: column;
}

.object-list-title {
  margin: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.object-list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-light.object-list-items {
  position: relative;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  border: 0;
  height: 100%;
  z-index: 1;
  border-radius: 0;
  text-align: left;
  font-size: 1em;
  background-color: #fcfcfc;
  color: #4f4f4f;
}

.btn-light.object-list-items:hover {
  z-index: 1;
  background-color: #f1f1f3;
  transition: all 0.1s ease-in-out;
}

.btn-check.object-list-items:active + .btn-light.object-list-items,
.btn-check.object-list-items:checked + .btn-light.object-list-items,
.btn-light.object-list-items.active,
.btn-light.object-list-items:active {
  z-index: 2;
  background-color: #f1f1f3;
}
