.scene-window-top {
  display: flex;
  flex-direction: column;
}

.scene-window-title {
  margin: 2rem;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  font-weight: 600;
  color: var(--black-font-color);
}

.scene-window-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 3.5rem;
}

.scene-window-items:hover {
  background-color: var(--hover-background);
}

.btn-light.scene-window-items {
  font-size: 1em;
  background-color: var(--window-background);
}

.btn-light.scene-window-items:hover {
  background-color: var(--hover-background);
}

.camera {
  width: 3.5rem;
  border: 1px solid #d1d1d6;
}

.camera:focus {
  outline-color: #d1d1d6;
}
