.wrapper {
  position: relative;
  transform: scale(0.8);
}

.input {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.input[type='checkbox']:checked + span {
  background-color: var(--brand-color);
}

.input[type='checkbox']:checked + span:before {
  left: calc(100% - 3.5px);
  transform: translateX(-100%);
}

.wrapper > .slider {
  display: flex;
  position: relative;
  cursor: pointer;
  width: 47px;
  height: 25px;
  border-radius: 100px;
  background-color: var(--darkgray-input);
  transition: background-color 0.2s;
}

.wrapper > .slider:before {
  content: '';
  position: absolute;
  top: 3.5px;
  left: 3.5px;
  width: 18px;
  height: 18px;
  border-radius: 45px;
  transition: 0.2s;
  background: var(--window-background);
  box-shadow: 0px 1px 3px var(--box-shadow);
}

.wrapper > .slider:active:before {
  width: 21px;
}
