.toolbar {
  display: block;
  position: fixed;
  z-index: 1;
  margin: 2rem;
}

.btn-light.toolbar-items {
  padding: 0.7rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  border: 0;
  z-index: 1;
  background-color: var(--window-background);
  color: var(--black-font-color);
}

.btn-light.toolbar-items:hover:not(.active) {
  z-index: 1;
  background-color: var(--hover-background);
  color: var(--black-font-color);
  transition: all 0.3s ease-in-out;
}

.btn-check.toolbar-items:active + .btn-light.toolbar-items,
.btn-check.toolbar-items:checked + .btn-light.toolbar-items,
.btn-light.toolbar-items.active,
.btn-light.toolbar-items:active,
.show > .btn-light.toolbar-items.dropdown-toggle {
  z-index: 2;
  background-color: var(--brand-color);
  color: var(--white-font-color);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
}
