@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

:root {
  --brand-color: hotpink;
  --canvas-background: #dddde0;
  --window-background: #fcfcfc;
  --hover-background: #f1f1f3;
  --white-font-color: #fcfcfc;
  --gray-font-color: #4f4f4f;
  --black-font-color: #000000e6;
  --navbar-border: #e4e4ea;
  --navbar-divider: #9b9ba2;
  --resizer-vertical: #e4e4ea;
  --resizer-horizontal: #b5b5c0;
  --lightgray-input: #ddd;
  --darkgray-input: #cccccc;
  --box-shadow: #787878;
}

* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.85em;
  background: var(--canvas-background);
  color: var(--gray-font-color);
}
